{% extends "base.html" %}

    <h1>{% block title %}{% endblock %}</h1>
{% block user %}{{ current_user.username }}{% endblock %}

{% block content %}

<form method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
  </div>
  <div class="mb-3">


<label for="body" class="form-label">Body</label>
  <textarea id="body" name="body" class="form-control" aria-label="With textarea"></textarea>

</div>
    <div class="mb-3">
        <label for="expiration_date">Expiration Date:</label><br>
        <input type="date" id="expiration_date" name="expiration_date">
    </div>
    {% if current_user.is_admin %}
  <div class="mb-3 ">
    <select class="form-select" id="user_id" name="user_id"  aria-label="Select user">
  <option value="">Select User</option>
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
</select>
  </div>
    {% endif %}
  <button type="submit" class="btn btn-primary">Create Task</button>
</form>

{% endblock %}
